<p>
  <b>Debt:</b>
  <%=h @payment.debt.name %>
</p>

<p>
  <b>Amount:</b>
  <%=h number_to_currency(@payment.amount) %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>